<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../../assets/all-buyer.css">
    <link rel="stylesheet" href="../../../assets/github-markdown.css">
    <link rel="stylesheet" href="../../../assets/example.css">
    <link rel="stylesheet" href="./assets/excel.css">
</head>
<body>
<div class="color-main-bg">
    <div class="page-main">
        <div class="page-area-item page-container">
            <div class="util-pd-area-t">
                <!--<div class="inline-block">-->
                <!--<div class="bub-remind bub-remind-warning">-->
                <!--<div class="bub-remind-con">-->
                <!--<span class="icon-img icon-tran-warning"></span>-->
                <!--补货商品未正式进入PO单，需要设置唛头贴纸信息，-->
                <!--<a href="#" class="color-link">点此进行设置</a>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
            </div>
            <!--商品信息[[ -->
            <!--header of product list[[-->
            <div class="page-cont-item page-cont-diff-pd util-pd-area-t">
                <div class="page-cont-item-con">
                    <div class="clearfix page-title-box">
                        <div class="pull-left">
                            <h2 class="inline-block page-first-title">
                                设置唛头、贴纸</h2>
                            <div class="inline-block color-link">
                                <div class="page-inline-d util-line-14">
                                    <ul class="list-inline util-line-14 list-st">
                                        <li>
                                            <span>上传信息</span>
                                        </li>
                                        <li>
                                            <span>下载信息</span>
                                            <div class="icon-wrapper util-text-center util-v-t page-text-icon-gap">
                                                <span class="icon-img icon-unfold util-v-m"></span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="pull-right util-text-right">
                            <a href="" class="color-link">使用说明</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-cont-item page-cont-diff-pd">
                <div class="page-cont-item-con page-cont-item-head">
                    <div class="widget-marker util-line-s clearfix">
                        <div class="pull-left">
                            <span class="icon-img icon-search-a util-v-t"></span>
                            <strong class="util-font-16 util-pd-area-l">S00062-A</strong>
                        </div>
                        <div class="pull-right">
                            <span class="icon-img icon-close-c util-v-m"></span>
                        </div>
                    </div>
                    <div>
                        <span class="icon-img icon-add-a"></span>
                    </div>
                </div>
                <!-- excel -->
                <div id="base-web-excel"></div>
            </div>
        </div>
    </div>
</div>
<script src="../../../dist/WebExcel.bundle.js"></script>
</body>
</html>