.web-excel-wrapper {
    -moz-user-select: none;
    -webkit-user-select: none;
    margin: 10px;
    display: table;
    border-collapse: collapse;
    text-align: center;
}

.web-excel-wrapper,
.web-excel-wrapper .cell-input {
    font: 12px/1.4 'sans-serif';
}

.web-excel-wrapper .table {
    display: table;
    table-layout: fixed;
}

.web-excel-wrapper .row {
    display: table-row;
}

.web-excel-wrapper .col-index-cell {
    width: 30px;
}

.web-excel-wrapper .cell {
    display: table-cell;
    border: 1px solid #e7e7e7;
    vertical-align: middle;
    cursor: pointer;
    white-space: nowrap;;
}

.web-excel-wrapper .cell > .cell-con {
    box-sizing: border-box;
    height: 24px;
    line-height: 24px;
    width: 100%;
}

.web-excel-wrapper .cell-input {
    display: block;
    border: 0;
    outline: none;
    height: 24px;
    width: 100%;
    line-height: 24px;
    text-align: center;
}

.web-excel-wrapper .cell.on-focus {
    background-color: #d2d2d2;
    border-color: #c6c6c6;
}

.web-excel-point {
    width: 7px;
    height: 7px;
    background-color: #207345;
    border: 1px solid #fff;
    position: absolute;
    bottom: -4px;
    right: -4px;
}

.agent-text-area {
    position: absolute;
    top: -9900px;
    width: 0;
    height: 0;
    overflow: hidden;
}

.region {
    position: absolute;
    border: 2px solid #207345;
}

.zero-clipboard-node {
    border: 0;
    outline: 0;
    background: none;
    height: 12px;
    line-height: 12px;
    cursor: pointer;
}

.Zeroclipboard-is-active {
    color: #207345;
}